<div>
  <div>
    <div>
      <h5>VegeKet</h5>
      <small>&copy; 2017-2021</small>
    </div>
    <div>
      <h5>特徴</h5>
      <ul>
        <li><a href="/">Top</a></li>
      </ul>
    </div>
    <div>
      <h5>リソース</h5>
      <ul>
        <li><a href="#">リンク</a></li>
        <li><a href="#">リンク</a></li>
        <li><a href="#">リンク</a></li>
      </ul>
    </div>
    <div>
      <h5>リソース</h5>
      <ul>
        <li><a href="#">リンク</a></li>
        <li><a href="#">リンク</a></li>
        <li><a href="#">リンク</a></li>
      </ul>
    </div>
    <div>
      <h5>サイトについて</h5>
      <ul>
        <li><a href="#">Company</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</div>